<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa+</title>
    <link href="styles/Global.css" rel="stylesheet">
    <link href="styles/menu.css" rel="stylesheet">
</head>
<body>
    
    <header>
      <a href="#" class="logo">LOGO</a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar">Menu</label>

      <nav class="navbar">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">aulas</a>
            <ul>
              <li><a href="#">matematica</a></li>
              <li><a href="#">portugues</a></li>
              <li><a href="#">historia</a></li>
              <li><a href="#">educaçao fisica</a></li>
              <li><a href="#">artes</a></li>
              <li><a href="#">ingles</a></li>
            </ul>
          
          </li>
          <li><a href="#">aulas de programação</a>
            <ul>
              <li><a href="https://www.rocketseat.com.br/">rocketseat</a></li>
            </ul>
          </li>
          <li><a href="#">quem somos</a></li>
        </ul>
      </nav>
  
    </header>
    
</body>
</html>
