<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematica</title>
    <link href="styles/Global.css" rel="stylesheet">
    <link href="styles/matematica.css" rel="stylesheet">
</head>
<body>
    
    <header>
        <a href="#" class="logo">LOGO</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
  
        <nav class="navbar">
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">aulas</a>
              <ul>
                <li><a href="#">matematica</a></li>
                <li><a href="#">portugues</a></li>
                <li><a href="#">historia</a></li>
                <li><a href="#">educaçao fisica</a></li>
                <li><a href="#">artes</a></li>
                <li><a href="#">ingles</a></li>
              </ul>
            
            </li>
            <li><a href="#">aulas de programação</a>
              <ul>
                <li><a href="#">rocketseat</a></li>
              </ul>
            </li>
            <li><a href="#">quem somos</a></li>
          </ul>
        </nav>
    </header>

    <h3 class="heading"> video gallery</h3>

    <div class="container">
      <div class="main-video">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/az6OYFS7AUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>primeira aula 01</h3>
        </div>
      </div>
    

    <div class="video-list">
      <div class="vid">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oSzh7TjIsjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>aula 02</h3>
      </div>
    </div>

    <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BetgRvNQEC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 03</h3>
        </div>
      </div>

      <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GpnfZHB3Rpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 04</h3>
        </div>
      </div>

      <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qzl93K6_-LY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 05</h3>
        </div>
      </div>

      <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nBYcEu3P6EQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 06</h3>
        </div>
      </div>

      <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qYww45PyTEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 07</h3>
        </div>
      </div>

      <div class="video-list">
        <div class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/74jrzl0yPlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>aula 08</h3>
        </div>
      </div>
    </div>

</body>
</html>