<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portugues</title>
    <link href="styles/Global.css" rel="stylesheet">
    <link href="styles/portugues.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo">LOGO</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
  
        <nav class="navbar">
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">aulas</a>
              <ul>
                <li><a href="#">matematica</a></li>
                <li><a href="#">portugues</a></li>
                <li><a href="#">historia</a></li>
                <li><a href="#">educaçao fisica</a></li>
                <li><a href="#">artes</a></li>
                <li><a href="#">ingles</a></li>
              </ul>
            
            </li>
            <li><a href="#">aulas de programação</a>
              <ul>
                <li><a href="#">rocketseat</a></li>
              </ul>
            </li>
            <li><a href="#">quem somos</a></li>
          </ul>
        </nav>
      </header> 

      <div class="container">
        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zqj4HHkr57Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 01</h3>
          </div>
        </div>
        
        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1I4-ac-qxl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 02</h3>
          </div>
        </div>

        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DxjkmUzyJlA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 03</h3>
          </div>
        </div>

        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/k0wLUjJeCMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 04</h3>
          </div>
        </div>

        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p_IWxPyGhgI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 05</h3>
          </div>
        </div>

        <div class="main-video">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Bxwn4oArrpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>primeira aula 06</h3>
          </div>
        </div>
          
      </div>
</body>
</html>